___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 ==0:
        if a < b:
            return a
        else:
            return b
    else:
        if a < b:
            return b
        else:
            return a
    pass

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [6]:
# Check
lesser_of_two_evens(2,5)

24

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [415]:
def animal_crackers(text):
    return text.lower().split()[0][0] == text.lower().split()[1][0]

In [416]:
# Check
animal_crackers('Levelheaded Llama')

True

In [417]:
# Check
animal_crackers('Crazy cangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [418]:
def makes_twenty(n1,n2):
    return sum((n1,n2)) == 20 or n1 == 20 or n2 ==20

In [419]:
# Check
makes_twenty(20,10)

True

In [420]:
# Check
makes_twenty(2,18)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [48]:
def old_macdonald(name):
    name = name.capitalize()
    name2 = ''
    index = 0
    for i in name:
        if index == 3:
            name2 = name2 + i.capitalize()
        else:
            name2 = name2 + i
        index += 1
    
    return name2
    pass

In [49]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [421]:
def master_yoda(text):
    mystring = text.split()
    mystring.reverse()
    mystring = " ".join(mystring)
    return mystring

In [422]:
# Check
master_yoda('I am home')

'home am I'

In [423]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [429]:
def almost_there(n):
    return n in range(90,111) or n in range(190,211)

In [430]:
# Check
almost_there(104)

True

In [431]:
# Check
almost_there(150)

False

In [432]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [207]:
def has_33(nums):
    index = 0
    for i in nums:
        if i == 3:
            index += 1
            if index == 2:
                answer = True
        else:
            index = 0
            answer = False
    return answer

In [208]:
# Check
has_33([1, 3, 3])

True

In [209]:
# Check
has_33([1, 3, 1, 3])

False

In [210]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [221]:
def paper_doll(text):
    word = ''
    for i in text:
        x = 0
        while x < 3:
            word += i
            x += 1
    print(word)
    pass

In [222]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [223]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [267]:
def blackjack(a,b,c):
    def bj(a):
        if a <= 21:
            b = result
        else:
            b = 'BUST'
        return b
    
    inputa = (a,b,c)
    result = sum(inputa)
    
    if result > 21 and 11 in inputa:
        result = result - 10
        pass
    return bj(result)

    
    
    
            
    pass

In [268]:
# Check
blackjack(5,6,7)

18

In [269]:
# Check
blackjack(9,9,9)

'BUST'

In [270]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [287]:
def summer_69(arr):
    numa = 0
    index = 0
    for i in arr:
        if i == 6:
            index = 1
            pass
        if i == 9:
            index = 0
            pass
        if index == 0 and i != 9:
            numa += i
            pass
        
    
    return numa
    pass

In [288]:
# Check
summer_69([1, 3, 5])

9

In [289]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [290]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [433]:
def spy_game(nums):
    result = ''
    for i in nums:
        if i == 0:
            result += "0"
            pass
        if i == 7:
            result += "7"
    return "007" in result

In [434]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [435]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [436]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [437]:
def count_primes(num):
    if num < 2:
        return 0
    
    
    primes = [2]
    x = 3
    
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    
    return len(primes)

In [438]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [406]:
def print_big(letter):
    letterdict = {
    "a": '  *\n * *\n*****\n*   *\n*   *',
    "b": '**** \n*   * \n**** \n*   * \n****',
    "c": '*****\n*\n*\n*\n*****',
    "d": '****\n*   *\n*   *\n*   *\n****',
    "e": '*****\n*\n****\n*\n*****'
    }
    return print(letterdict[letter])

In [410]:
print_big('e')

*****
*
****
*
*****

## Great Job!